@import "tailwindcss";

/* Fonte global: define a variável com fallback */
:root {
  --font-sans: "Poppins", "Helvetica", "Arial", sans-serif;

  --foreground: #171717;
  --corAzulPrincipal: #050A1F;
  --corPreto: #050A1F;
  --corAmareloPrincipal: #F2C94C;
  --corBranca: #ffffff;
}

/* Tailwind Theme */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--foreground);
}
