.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  background-color: #000;
  height: 100vh;
}

.interface {
  max-width: 1280px;
  margin: 0 auto;
}

/* Estilo do Header */
.header {
  padding: 20px 2%;
  background-color: var(--corAzulPrincipal);
}

.header > .interface {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 60px;           
}


.header a {
  color: #fff;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.header nav ul {
  list-style: none;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.header nav ul li {
  display: block;
  padding: 0 20px;
}

.header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
}

:global(.menu-desktop a) {
  transition: color 0.3s ease;
}

:global(.menu-desktop a:hover) {
  color: var(--corAmareloPrincipal) !important;
}

.menu-desktop ul {
  display: flex;
  gap: 20px; /* Espaçamento entre os itens */
  list-style: none;
}

.menu-desktop a {
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
}

.btn-contato {
  margin-left: auto;     /* empurra só o botão para a direita */
}


.menuWrapper {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: auto; /* move o menu para a direita */
}

.btnContato a {
  background-color: transparent;
  border: 2px solid var(--corBranca);
  border-radius: 8px;
  color: var(--corBranca);
  padding: 10px 20px;
  text-decoration: none;
  transition: 0.3s;
}

.btnContato a:hover {
  background-color: var(--corAmareloPrincipal);
  border-color: var(--corAmareloPrincipal);
  color: var(--corAzulPrincipal);
}